<br><br><br><br><br><br>
<center>
  <form action="/customer/edit/{{customer._id}}" method="post">
    <h1>Edit customer</h1>
   <label for="">Name</label><br>
   <input type="text" name="name" style="text-align: center;" value="{{ customer.name }}" required="required">
   <br><br>
   <label for="">Age</label><br>
   <input type="number" name="age" style="text-align: center;" value="{{ customer.age }}" required="required">
   <br><br>
    <label for="">Gender</label><br> 
    <select id="gender" name="gender" required="required">
      <option value="male">Male</option>
      <option value="female" >Female</option>
    </select>
    <br><br>
    <label for="">Image</label><br>
   <input type="url" name="image"  style="text-align: center;" value="{{ customer.image }}" required="required">
    <br><br>
    <input type="submit" style="color: white;background-color: gold;width: 100px;"  value="Edit">
  </form>
</center>